@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding:0
}




html{
  background-color: #121212;
  color: white;
  overflow-x: hidden;
  font-family: "Work Sans", sans-serif;
}

.spicy-rice-regular {
  font-family: "Spicy Rice", serif;
  font-weight: 400;
  font-style: normal;
}




.work-sans{
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.work-sans-btn{
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.hero{
  background-image: url("/bg.png");
  background-size: cover;
  height: 118vh;
}