:root {
    --brand-Green-50: #EEF9ED;
    --brand-Green-100: #DCF2DC;
    --brand-Green-150: #CBECCA;
    --brand-Green-200: #BAE5B8;
    --brand-Green-300: #97D995;
    --brand-Green-400: #75CC71;
    --brand-Green-500: #56BE54;
    --brand-Green-600: #42993E;
    --brand-Green-700: #31732F;
    --brand-Green-800: #214C1F;
    --brand-Green-850: #193917;
    --brand-Green-900: #102610;
   
    --brand-Yellow-50: #FEFAEE;
    --brand-Yellow-100: #FEF5DC;
    --brand-Yellow-150: #FDEFCB;
    --brand-Yellow-200: #FDEAB9;
    --brand-Yellow-300: #FBE097;
    --brand-Yellow-400: #FAD574;
    --brand-Yellow-500: #F5CE62;
    --brand-Yellow-600: #CEA741;
    --brand-Yellow-700: #A38331;
    --brand-Yellow-800: #776021;
    --brand-Yellow-850: #624E19;
    --brand-Yellow-900: #4C3C11;
    
    --Alias-Primary-50: var(--brand-Green-50);
    --Alias-Primary-100: var(--brand-Green-100);
    --Alias-Primary-150: var(--brand-Green-150);
    --Alias-Primary-200: var(--brand-Green-200);
    --Alias-Primary-300: var(--brand-Green-300);
    --Alias-Primary-400: var(--brand-Green-400);
    --Alias-Primary-500: var(--brand-Green-500);
    --Alias-Primary-600: var(--brand-Green-600);
    --Alias-Primary-700: var(--brand-Green-700);
    --Alias-Primary-800: var(--brand-Green-800);
    --Alias-Primary-850: var(--brand-Green-850);
    --Alias-Primary-900: var(--brand-Green-900);
  }